*{
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}
body { 
counter-reset:slide;
}
/*div:after {
position: absolute;
bottom: 0.5em;
right: 0.5em;
counter-increment: slide;
content: counter(slide);
display: block;
float: right;
margin-top: -1em;
height: 1.6em;
width: 1.6em;
background-color: #E9D8AD;
border-radius: 50%;
color: #fff;
font-size: 1.2em;
font-style: italic;
font-weight: 800;
text-align: center;
line-height: 1.4em;
}*/
section:after{
	
	counter-increment: slide;
  content: counter(slide);
  display: block;
float: right;
margin-top: -1em;
height: 1.6em;
width: 1.6em;
background-color: #E9D8AD;
border-radius: 50%;
color: #fff;
font-size: 1.2em;
font-style: italic;
font-weight: 800;
text-align: center;
margin-top:70px;
	margin-left:20px;
grid-column: 6/7;
grid-row: 5/6;
}


section
{
	width: 50%;
	height: 545px;
	background-color: gray;
	border-style: solid;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	text-align: center;


}

.m
{
	
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 100px;
	display: grid;
	grid-column: 1/7;
	grid-row: 2/6;
	background-color: green;
}
header
{
grid-column: 1/7;
grid-row:1;
	background-color: yellow;

}
.a
{
	grid-column: 1/7;
	grid-row: 1/6;
	background-color: green;
}
.l
{
	background-color: blue;
	grid-column: 1/4;
grid-row: 2/6;
}
.r
{
	background-color: red;
	grid-column: 4/7;
grid-row: 2/6;
}
.lt
{
	background-color: orange;
grid-column: 1/4;
grid-row: 2/4;
}
.lb
{
	background-color: brown;
	grid-column: 1/4;
grid-row: 4/6;
}
.rt
{
	background-color: orange;
	grid-column: 4/7;
grid-row: 2/4;
}
.rb
{
	background-color: brown;
	grid-column: 4/7;
grid-row: 4/6;
}
.t
{
background-color: orange;
grid-column: 1/7;
grid-row: 2/4;
}
.b
{
background-color: brown;
	grid-column: 1/7;
grid-row: 4/6;
}
.d1
{
background-color: pink;
grid-column: 1/3;
grid-row: 2/4;
}
.d2
{
background-color: pink;
grid-column: 3/5;
grid-row: 2/4;
}
.d3
{
background-color: pink;
grid-column: 5/7;
grid-row: 2/4;
}
.d4
{
background-color: pink;
grid-column: 1/3;
grid-row: 4/6;
}
.d5
{
background-color: pink;
grid-column: 3/5;
grid-row: 4/6;
}
.d6
{
background-color: pink;
grid-column: 5/7;
grid-row: 4/6;
}